body {
  font-family: 'Roboto Mono';
  text-align: center;
}

.container {
  margin-top: 10px;
  padding: 10px;
}

.container h2 {
  font-size: 32px;
}

.weatherStatus {
  font-size: 200px;
  text-align: left;
}

.weatherItem {
  font-size: 20px;
}

.data {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.items {
  text-align: right;
}
